ST_AOAI_APIKEY = <your Azure OpenAI API Key>
ST_AOAI_ENDPOINT = <your Azure OpenAI endpoint URL>
ST_CHATCOMPLETION_DEPLOYMENTNAME = <your chat completion model deployment name>
ST_ASSETS_FOLDER = ../assets

